<header>
   <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
       <div class="navbar-brand">
          <a class="navbar-item" href="/"><strong>Home</strong>page</a>
       
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
             <span aria-hidden="true"></span>
             <span aria-hidden="true"></span>
             <span aria-hidden="true"></span>
          </a>
       </div>
       
       <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
             <a class="navbar-item" href="/sample/list">Sample List</a>
             <a class="navbar-item" href="/board/list">Board List</a>
          </div>
       </div>
    </nav>
</header>